[submodule "service-characteristics"]
	path = submodules/service-characteristics
	url = git@gitlab.com:ascs-ev/service-characteristics.git
[submodule "w3id.org"]
	path = submodules/w3id.org
	url = git@github.com:GAIA-X4PLC-AAD/w3id.org.git
