---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: ["--config=pyproject.toml"]
        pass_filenames: true

      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        args: ["--settings=pyproject.toml"]
        pass_filenames: true

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        args: ["--config=.flake8"]
        pass_filenames: true

      - id: jsonld-lint
        name: JSON-LD Parser
        entry: python3 src/tools/utils/verify_json_syntax.py
        language: system
        types: [json]
        files: \.(json|jsonld)$

      - id: turtle-lint
        name: Turtle Parser
        entry: python3 src/tools/utils/verify_turtle_syntax.py
        language: system
        types: [text]
        files: \.(ttl)$

      - id: update-registry
        name: Update Ontology Registry and Catalog
        entry: python3 src/tools/utils/registry_updater.py
        language: system
        pass_filenames: false
        files: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
        stages: [pre-commit]
