# github CODEOWNERS file to define owners of sub directories.
# Find a detailled description for github CODEOWNERS here:
# https://docs.github.com/de/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Each line is a file pattern followed by one or more owners.

# root directory and default handling (Robert OR Lena). Subsequent definitions will overwrite a previous definition.
/* @robertschubert @lenasauermann

# examples directory (Robert OR Justin)
/examples @robertschubert @JustinDxx

# scenario directory (Rico OR Fin AND Robert)
/scenario @rcrswld @heuerfin
/scenario @robertschubert

# sensor directory (Rico AND Justin)
/sensor @rcrswld
/sensor @JustinDxx

# src directory and default handling (Robert OR Justin)
/src @robertschubert @JustinDxx

# survey directory (Philipp AND Robert)
/survey @robertschubert
/survey @phi981

# gx directory (Robert OR Lena)
/gx @robertschubert @lenasauermann

# environment-model directory (Mirco AND Robert)
/environment-model @robertschubert
/environment-model @MircoNierenz

# hdmap directory (Sebastian AND Robert)
/hdmap @robertschubert
/hdmap @3Dbastian

# general directory (Mirco AND Robert)
/general @robertschubert
/general @MircoNierenz

# georeference directory (Robert AND (Sebastian OR Mirco))
/georeference @robertschubert
/georeference @3Dbastian @MircoNierenz

# service directory (Valentin AND Robert)
/service @robertschubert
/service @ValentinFischerTT

# surface-model directory (Sebastian AND Robert)
/surface-model @robertschubert
/surface-model @3Dbastian

# ositrace directory (Pierre AND Robert)
/ositrace @robertschubert
/ositrace @pmai
