name: Update README Catalog
on:
  push:
    paths:
      - 'artifacts/catalog-v001.xml' # Only run if this file changes

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          
      - name: Run Update Script
        run: python src/tools/utils/update_readme.py

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "docs: auto-update readme from catalog xml"
          file_pattern: README.md
